<form #registerform="ngForm" (ngSubmit)="Register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username"
    name="username" required [(ngModel)]="model.username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password"
    name="password" required [(ngModel)]="model.password">
  </div>

  <div class="form-group text-center">
    <button [disabled]="!registerform.valid" class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-danger" (click)="Cancel()" type="button">Cancel</button>
  </div>
  
</form>
