<nav class="navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault"> -->
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/member']">Matches <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/messages']">Messages</a>
          </li>
    </ul>
    <div *ngIf="loggedIn()" class="dropdown mr-sm-2" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Wellcome {{authService.decodedToken?.unique_name | titlecase}}</a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a href="#" class="dropdown-item"
          ><i class="fa fa-user mt-2"></i>Edit Profile</a
        >
        <div class="dropdown-divider"></div>
        <a (click)="logout()" class="dropdown-item"
          ><i class="fa fa-sign-out mt-2"></i>Logout</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
        name="username"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        name="password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
    <!-- </div> -->
  </div>
</nav>
